@charset 'utf-8';

body {
	overflow-x: hidden;
    color: var(--font-color);
	background: var(--bg-color);
    padding-top: 52px;
    letter-spacing: 1px;
}

body.stop-scroll {
    height: 100%;
    overflow: auto !important;
    touch-action: auto !important;
}

.wrapper.active{
    height: 100%;
    opacity: 1;
}

.marginarea{
    max-width: 1000px;
    padding: 0 1rem;
    margin: auto;
}

p {
	line-height: 1.6;
}

a {
    color: var(--font-color);
	text-decoration: none;
}

/* menu bar */

.local-nav{
    height: 52px;
    border-bottom: 1px solid var(--border-gray-color);
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background: rgba(255,255,255,0.1);
   
    -webkit-backdrop-filter: saturate(180%) blur(15px) ;
    -moz-backdrop-filter: saturate(180%) blur(15px) ;
    -o-backdrop-filter: saturate(180%) blur(15px) ;
    backdrop-filter: saturate(180%) blur(15px);
}

.local-nav-links a{
    color: var(--font-color);
    transition: 0.2s;
}

.local-nav-links a:hover{
    color: #3fd1ac;
    transform: scale(1.1);
}

.local-nav-links{
    max-width: 1000px;
    margin: auto;
    display: flex;   
    height: 100%;
    align-items: center;
    
}
.my-name{
    margin-right: auto;
    font-size: 1rem;
    font-weight:bold;
    transition: 0.2s;
}

.local-nav-links a:not(.my-name){
    margin-left: 2em;
    font-size: 0.8em;
    padding: 10px;
}
/* menu-mobile */
.local-nav-mobile{
    display: none;
}

.local-nav-mobile .menu-mobile{
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	transition: 0.5s ease;
	z-index: 98;
	/* max-width: 0; */
    width: 0;
	background-color: #112240;
	box-shadow: -5px 7px 15px -3px rgba(2,12,27,0.7);
	-webkit-box-shadow: -5px 7px 15px -3px rgba(2,12,27,0.7);
	-moz-box-shadow: -5px 7px 15px -3px rgba(2,12,27,0.7);
  }

  .mobile-logo{
	color: var(--font-color);
	position: absolute;
	top: 0;
	bottom: 0;
	font-size: 1rem;
	margin: auto;
	height: 18px;
	font-weight: bold;
  }

  .menu-mobile>div{
	/* width: min(75vw, 400px); */
    width: 75vw;
	height: 100%;
	font-size: 1.4rem;
	position: relative;
	top: 25vh;
}

.mobile-main-menu-bar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mobile-sns-menu-bar{
	font-size: 0.8rem;
	text-align: center;
	margin-top: 20px;
}

.mobile-sns-menu-bar a{
	/* margin-right: 8px; */
    padding: 3px;
}

  .menu-mobile a{
	margin-bottom: 2rem;
	color: var(--font-light-color);
	cursor: pointer;
  }

  .menu-mobile a:hover{
	color: var(--accent-color);
  }
  
  .local-nav-mobile .burger-icon {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	z-index: 99;
	padding: 20px 0;
	top: 4px;
	right: 13px;
	user-select: none;
	width: auto;
	margin: 0;
  }
  
  .burger-icon .burger-sticks {
	background: var(--font-color);
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .burger-icon .burger-sticks:before,
  .burger-icon .burger-sticks:after {
	background: var(--font-color);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .burger-icon .burger-sticks:before {
	top: 5px;
  }
  
  .burger-icon .burger-sticks:after {
	top: -5px;
  }
  
  .burger-check {
	display: none;
  }

  .burger-check:checked~.menu-mobile {
	/* max-width: 400px; */
    width: 75vw;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks {
	background: transparent;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:before {
	transform: rotate(-45deg);
	background-color: var(--accent-color);
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:after {
	transform: rotate(45deg);
	background-color: var(--accent-color);
  }
  
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
	top: 0;
  }

/* section common */

section {
    height: 100%;
}

.responsive{
    display: inline-block;
    font-size: 0.8rem;
    font-family: 'Proxima Nova';
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--font-color);
    padding: 8px;
}

.project {
    margin-top: 10em;
}

.project-photo{
    width: 100%;
    margin-top: 1.5rem;
}

.project-title{
    font-size: 2.5rem;
    font-family: 'proxima_nova_altbold';
}

.project-desc{
    padding: 2rem 0;
}

.project-desc .overview{
    font-size: 1.5rem;
    font-family: 'proxima_nova_ltsemibold';
    margin-bottom: 0.5rem;
}

.project-desc .description{
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.project-desc .tools{
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
}

.project-desc .linkbox{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.project-desc .linkbox>a{
    margin-right: 12px;
}

.linkbox i{
    font-size: 24px;
}

@media screen and (max-width: 1023px){

    .local-nav-links{
        display: none;
    }

    .local-nav-mobile{
        display: block;
    }

    body.stop-scroll {
        height: 100%;
        overflow: hidden !important;
        touch-action: none !important;
    }

    .wrapper.active{
        height: 100%;
        opacity: 0.1;
    }

    .project-title{
        font-size: 1.5rem;
    }
    
    .project-desc .overview{
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    
    .project-desc .description{
        font-size: 1.2rem;
    }

    .project-photo{
        margin-top: 1.2rem;
    }

    .project-desc{
        padding: 1rem 0;
    }

    .responsive{
        font-size: 0.5em;
        margin-bottom: 0.5rem;
    }
}

/* section - intro */
.intro .intro-wrapper{
    margin-top: 5rem;
    height: 100%;
}

.intro h1{
    font-size: 5rem;
    font-family: 'proxima_nova_altbold';
}

.intro-textboxes-mobile{
    display: none;
}

.intro-imgboxes{
    display: flex;
}

.introimgbox{
    margin-right: 10px;
    margin-top: 2rem;
}

.introimgbox:last-child{
    margin-right: 0;
}

.main-message-js{
    text-align: center;
    font-size: 1.5rem;
}

.intro-picture-js{
    display: none;
}

.explore{
    margin: 3rem auto 1rem;
}

@media screen and (max-width: 1023px){
    .intro h1{
        font-size: 2.5rem;
    }

    .intro-textboxes-mobile{
        display: block;
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    .intro-textboxes-mobile li{
       margin-bottom: 10px;
       cursor: pointer;
    }

    .intro-textboxes-mobile li:hover a{
        color: var(--accent-color);
     }

    .intro-imgboxes{
        display: none;
    }

    .intro-picture-js{
        display: block;
    }

    .intro .main-sns{
        display: flex;
    }

    .main-message-js{
        font-size: 1.5rem;
        margin-top: 2rem;
        text-align: start;
    }
    .explore{
        display: none;
    }
}

.fixed-sns{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    top: 13.5vh;
}

.fixed-sns p{
    position: fixed;
    top: 10vh;
    right: 9px;
}

.fixed-sns span{
    position: fixed;
    top: 13.5vh;
    right: 9px;
    display: none;
    color: rgb(129, 129, 129);
    border-bottom: 2px solid #8cead2;
}

.fixed-sns div{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 120px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #8cead2;
    border-radius: 10px 0 0 10px;
    transition: .2s;
}

/* footer and others */
footer{
	border-top: 1px solid black;
	color: var(--font-color);
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 15em;
    padding: 10px;
    font-family: 'proxima_nova_ltsemibold';
}

#to-top{
	width: 42px;
	height: 42px;
	background-color: #333;
	color: var(--font-light-color);
	border: 2px solid var(--border-gray-color);
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 30px;
	right:30px;
	z-index: 10;
	visibility: hidden;
}

.material-icons{
	font-size: 24px;
}