@charset 'utf-8';

body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	background-color: var(--bg-home-color);
	letter-spacing: 1px;
}

body.stop-scroll {
	height: 100%;
    overflow: hidden !important;
	touch-action: none !important;
}

.wrapper.active{
	height: 100%;
	opacity: 0.1;
}

p {
	line-height: 1.6;
}
a {
	color: rgb(29, 29, 31);
	text-decoration: none;
}

.container {
	overflow-x: hidden;
}

.local-nav{
    height: 52px;
    border-bottom: 1px solid var(--border-gray-color);
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background: rgba(255,255,255,0.1);
   
    -webkit-backdrop-filter: saturate(180%) blur(15px) ;
    -moz-backdrop-filter: saturate(180%) blur(15px) ;
    -o-backdrop-filter: saturate(180%) blur(15px) ;
    backdrop-filter: saturate(180%) blur(15px);
}

.local-nav-links a{
    color: var(--font-light-color);
    transition: 0.2s;
}

.local-nav-links a:hover{
	color: var(--accent-color);
	transform: scale(1.1);
}

.local-nav-links{
    max-width: 1000px;
    margin: auto;
    display: flex;   
    height: 100%;
    align-items: center;
    
}
.my-name{
    margin-right: auto;
    font-size: 1rem;
    font-weight:bold;
    transition: 0.2s;
}

.local-nav-links a:not(.my-name){
    margin-left: 2em;
    font-size: 0.8em;
    padding: 10px;
}

.local-nav-links{
	display: none;
}

.material-icons.menuicon{
	padding: 14px 0;
	right: 10px;
	color: white;
	position: absolute;
}

.menu-mobile{
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	transition: 0.5s ease;
	z-index: 98;
	width: 0;
	background-color: #112240;
	box-shadow: -5px 7px 15px -3px rgba(2,12,27,0.7);
	-webkit-box-shadow: -5px 7px 15px -3px rgba(2,12,27,0.7);
	-moz-box-shadow: -5px 7px 15px -3px rgba(2,12,27,0.7);
	overflow: hidden;
}

.mobile-logo{
	color: var(--font-light-color);
	position: absolute;
	top: 0;
	bottom: 0;
	font-size: 1rem;
	margin: auto;
	height: 18px;
	font-weight: bold;
  }

.material-icons.menuicon-inside{
	color: yellow;
	padding: 14px 10px;
	float: right;
}

.menu-mobile>div{
	height: 100%;
	font-size: 1.4rem;
	position: relative;
	top: 25vh;
}

.mobile-main-menu-bar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 44px;
}

.mobile-main-menu-bar div{
	margin-bottom: 20px;
}

.mobile-sns-menu-bar{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	margin-top: 20px;
}

.mobile-sns-menu-bar a{
	margin-right: 10px;
}

.mobile-sns-menu-bar .mobile-sns-linkedin{
	margin-right: 0;
}

.menu-mobile div a{
	color: var(--font-light-color);
	cursor: pointer;
}

.menu-mobile div a:hover{
	color: var(--accent-color);
}

.menu-mobile .mobile-main-menu-bar div .resume-download{
	border: 1px solid var(--accent-color);
	border-radius: 10px;
	padding: 10px;
}

.scroll-section {
	position: relative;
	padding-top: 50vh;
	color: var(--font-light-color);
}
#scroll-section-0 h1 {
	font-family: 'Noto Sans KR', sans-serif;
	position: relative;
	top: -10vh;
	z-index: 5;
	font-size: 4rem;
	text-align: center;
}
.main-message {
	font-family: 'Noto Sans KR', sans-serif;
	top: 42vh;
	font-size: 3rem;
	opacity: 0;
}
.main-message.b {
	font-size: 4rem;
}

.main-message p {
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
}

.mid-message {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 2.5rem;
	color: var(--font-light-color);
}

.desc-message {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 1.2rem;
	color: var(--font-light-color);
	letter-spacing: normal;
}

.desc-message.introduction{
	margin-top: 4rem;
}

.sticky-elem {
	display: none;
	position: fixed;
	left: 0;
	width: 100%;
}
#show-scene-0 #scroll-section-0 .sticky-elem{
	display: block;
	will-change: transform, opacity;
}
.scroll-effect-end .sticky-elem {
	display: none !important;
}

.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: var(--bg-color);
	opacity: 0;
	transition: 0.5s;
}

.before-load .container {
    display: none;
}

.before-load .loading {
	opacity: 1;
}

@keyframes loading-spin {
	100% { transform: rotate(360deg); }
}
@keyframes loading-circle-ani {
	0% { stroke-dashoffset: 157; }
	75% { stroke-dashoffset: -147; }
	100% { stroke-dashoffset: -157; }
}

.loading-circle {
	width: 54px;
	height: 54px;
	animation: loading-spin 3s infinite;
}

.loading-circle circle {
	stroke: black;
	stroke-width: 4;
	stroke-dasharray: 157, 157;
	stroke-dashoffset: 0;
	fill: transparent;
	animation: loading-circle-ani 1s infinite;
}

.pencil-logo {
	left: 50%;
	top: 50%;
	width: 1000vw;
	transform: translate(-10%, -50%);
}

.pencil {
	left: auto;
	top: auto;
	right: -10%;
	bottom: -80%;
	width: 3.5vw;
	transform: rotate(-120deg);
}

.ruler {
	left: auto;
	top: auto;
	right: -20%;
	bottom: -70%;
	width: 25vw;
	transform: rotate(-170deg);
}

.eraser {
	left: auto;
	top: auto;
	right: -30%;
	bottom: -60%;
	width: 18vw;
	transform: rotate(-180deg);
}

.ribbon-path {
	left: 50%;
	top: 50%;
	min-width: 850px;
	transform: translate(-50%, -50%);
}

.ribbon-path path {
	fill: none;
	stroke: #0B2545;
	stroke-width: 62;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 1401, 1401;
	stroke-dashoffset: 1401;
}


/* nomal content */
.normal-content{
	padding: 8rem 0;
}

.normal-content.contact{
	margin-bottom: 8em;
}

.mid-message{
	font-family: 'proxima_nova_altbold', sans-serif;
}

.mid-message.introduction,
.mid-message.work{
	margin-bottom: 3rem;
}

/* project */
.project-container{
	padding: 0 1rem;
}

.project{
    width: 100%;
    height: 380px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.project-link-wrapper{
	width: 100%;
	height: 100%;
	display: block;
	color: var(--font-light-color);
}

.text-container{
    padding: 2rem;
}

.text-container .p-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-container .p-description{
    margin-bottom: 1rem;
}

.text-container .p-tool p{ 
    margin-top: 1rem;
}

.project.website{
    background: url('/websites/images/lulu.jpg');
    background-size: cover;
}

.project.graphic{
    background: url('/images/project-graphic.png');
    background-size: cover;
	
}

.project.javascript{
    background: url('/images/project-js.png');
    background-size: cover;
}

.project.video{
	background: url('/images/project-video2.png');
	background-size: cover;
}

.project:hover{
    transform: translateY(-5px);
}

.project:hover .overlay{
	background-color: rgb(0,0,0,0.1);
}

.overlay{
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.6);
}

.icons{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	justify-content: none;
	align-items: none;
	padding: 3rem 1rem;
}

/* blog */
.blog-container{
	margin-top: 8rem;
	color: var(--font-light-color);
	padding: 0 1rem;
}

.blog-container .b-semi-message{
	font-size: 2rem;
	text-align: center;
	font-family: 'proxima_nova_altbold';
}

.blog-container .b-desc-message{
	font-size: 1.5rem;
	margin-bottom: 2rem;
	text-align: center;
}

.blog-container .blogbox{
	padding: 28px;
	background-color: #15223e;
	margin-top: 10px;
	cursor: pointer;
	transition: 0.2s;
	border: 1px solid #15223e;
	box-sizing: border-box;
}

.blog-container .blogbox>a{
	color: var(--font-light-color);
}

.blog-container .blogbox:hover{
	transform: translateY(-5px);
	border: 1px solid var(--accent-color);
}

.blog-container .blogbox .material-icons{
	float: right;
	transition: 0.2s;
}

.blog-container .blogbox:hover .material-icons{
	color: var(--accent-color);
}

.blog-container .blogbox .b-date{
	font-size: 0.8rem;
}

.blog-container .blogbox .b-description{
	letter-spacing: normal;
}

.blog-container .blogbox .b-title{
	font-size: 1.3rem;
	font-weight: bold; 
	margin-bottom: 6px;
	color: var(--accent-color);
}

.blog-container .blog-extra-wrapper{
	display: none;
}

.blog-container .blog-extra-wrapper.active{
	display: grid;
}

.viewmore{
	margin: 4em auto 0;
}

footer{
	border-top: 1px solid var(--border-gray-color);
	color: var(--font-light-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 52px;
}

#to-top{
	width: 42px;
	height: 42px;
	background-color: #333;
	color: var(--font-light-color);
	border: 2px solid var(--border-gray-color);
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 30px;
	right:30px;
	z-index: 10;
	visibility: hidden;
}

.material-icons{
	font-size: 24px;
}

.desc-message>a{
	color: var(--accent-color);
	font-size: 14px;
	margin-right: 15px;
}

@media (min-width: 1024px) {

	body.stop-scroll {
		height: 100%;
		overflow: auto !important;
		touch-action: auto !important;
	}

	.wrapper.active{
		height: 100%;
		opacity: 1;
	}

	.local-nav-links{
		display: flex;
	}

	.local-nav-mobile{
		display: none;
	}

	#scroll-section-0 h1 {
		font-size: 9vw;
	}
	.main-message {
		font-size: 4vw;
	}
	.main-message.b {
		font-size: 7vw;
	}

	.mid-message.introduction,
	.mid-message.work{
		margin-bottom: 4rem;
	}

	.desc-message {
		font-size: 1.4rem;
	}
	
	.desc-message.introduction{
		margin-top: 8rem;
	}

	.mid-message {
		width: 1000px;
		font-size: 4vw;
	}

	.desc-message{
		font-size: 1.8rem;
	}

	.self-photo{
		display: block;
		width: 1000px;
		margin: auto;
	}

	.normal-content{
		padding: 10rem 0;
	}

	.project-container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		max-width: 1000px;
		margin: auto;
	}

	.project {
		margin: 0;
	}

	.blog-content-wrapper{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
		max-width: 1000px;
		margin: auto;
	}

	.blog-content-wrapper .blogbox{
		margin: 0;
	}
	
	.blog-extra-wrapper{
		display: none;
	}

	.blog-extra-wrapper.active{
		display: grid;
	}

	.blog-extra-wrapper{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
		max-width: 1000px;
		margin: auto;
	}

	.icons{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: none;
        align-items: none;
        width: 1000px;
        height: 50px;
		margin: auto;
    }
}
