.intro{
    margin-top: 15em;
}

.intro h1{
    margin-bottom: 1em;
    text-align: center;
    font-size: 6rem;
}

.intro .intro-desc{
    margin-top: 2em;
    margin-bottom: 8em;
    text-align: center;
    font-size: 1.8em;
}

.swiper.mySwiper .swiper-slide{
    position: relative;
	width: 100%;
	padding-top: 56.25%;
}

iframe{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.swiper.mySwiper .swiper-button-next,
.swiper.mySwiper .swiper-button-prev{
    color: var(--font-light-color);
}

.latestcontents{
    border-top: 2px solid black;
    margin-top: 10em;
}

.latestcontents .contents-title{
    font-size: 40px;
    font-family: 'proxima_nova_altbold';
}

.latestcontents .contents-title p{
    margin-top: 1em;
    font-size: 1.4rem;
    font-family: 'Proxima Nova';
}

.contents-list {
    margin-top: 5em;
    display: flex;
}

.contents-list .content-box{
    width: 330px;
    height: 100%;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    border-left: 1px solid black;
}

.content-box div{
    margin-bottom: 10px;
}

.channel-name{
    font-weight: bold;
    font-size: 1.4em;
}

.channel-desc{
    font-size: 1.1em;
    line-height: 1.4;
}

.content-box .mobile-deco{
    width: 30px;
    height: 3px;
    background-color: black;
    display: none;
}

.short-form-list{
    display: flex;
    justify-content: center;
}

.short-form-list.top{
    margin-top: 2rem;
}

.short-form-content{
    max-width: 100%;
    margin: 5px;
}


.gallery{
    height: 100%;
    background-color: whitesmoke;
    margin-top: 10em;
    padding-bottom: 2em;
}

.gallery .gallery-title p{
    font-size: 2em;
    font-family: 'proxima_nova_ltsemibold';
    padding-top: 1em;
}

.gallery .gallery-title span{
    font-size: 1.4rem;
    line-height: 1.6;
}

.gallery-box{
    height: 100%;
    position: relative;
}

.gallery-box .swiper-container {
    max-width: 1000px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    padding: 2em 1em;
}

.gallery-box .swiper-prev:hover,
.gallery-box .swiper-next:hover {
    background-color: #333;
    color: var(--font-light-color);
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -5px;
}

footer{
	border-top: 1px solid black;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 52px;
    margin-top: 0;
}

@media screen and (max-width: 768px){
    .intro h1{
        margin-bottom: 1em;
        text-align: center;
        font-size: 4rem;
    }

    .intro .intro-desc{
        margin-top: 2em;
        margin-bottom: 8em;
        text-align: center;
        font-size: 1.5em;
    }
    
    .latestcontents{
        border-top: 0;
        margin-top: 10em;
    }

    .latestcontents .contents-title{
        font-size: 1.8em;
    }

    .contents-title p{
        font-size: 0.7em;
    }

    .channel-name{
        font-weight: bold;
        font-size: 1.4em;
    }
    
    .channel-desc{
        font-size: 1.2em;
        line-height: 1.4;
    }

    .gallery .gallery-title p{
        font-size: 1.8em;
    }
    
    .gallery .gallery-title span{
        font-size: 1.2em;
    }
    
    .contents-list {
        margin-top: 1em;
        display: flex;
        flex-wrap: wrap;
    }

    .contents-list .content-box{
        width: 100%;
        height: 100%;
        margin: 3em auto;
        padding: 0;
        box-sizing: border-box;
        border-left: 0;
    }

    .content-box .mobile-deco{
        display: block;
    }
}
