@charset 'utf-8';

.intro-wrapper h1{
    margin-bottom: 2rem;
}

.intro-wrapper p{
    margin-top: 2rem;
}

.project-desc .linkbox>img{
    margin-right: 10px;
}

.howtoplay{
    margin-top: 1em;
}

.project-flower-box{
    display: flex;
    width: 972px;
}

.before-performance,
.after-performance{
    width: 476px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font-light-color);
    padding: 2rem;
    box-sizing: border-box;
    margin-top: 1rem;
    filter: grayscale(0.5);
}

.before-performance{
    margin-right: 20px;
    background-image: url('./images/bg1.png');
    background-size: cover;
   background-repeat: no-repeat;
    border-radius: 20px;
}

.after-performance{
    background-image: url('./images/bg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    
}

.before-performance:hover,
.after-performance:hover{
    filter: grayscale(0);
}

.project-flower-box-mobile{
    display: none;
}

.linkbox.web{
    display: block;
}

@media screen and (max-width: 1024px){

    .project-flower-box{
        display: none;
    }

    .project-flower-box-mobile{
        display: flex;
        margin-top: 1em;
    }

    .project-flower-box-mobile>a{
        margin-right: 0.5em;
    }

    .linkbox.web{
        display: none;
    }

    .link-web.mobile{
        padding: 0.5em;
    }
}

