@charset 'utf-8';

.project-desc .linkbox>img{
    margin-right: 10px;
}

.howtoplay{
    margin-top: 1em;
}

.intro-imgboxes{
    display: flex;
}

.introimgbox{
    margin-right: 10px;
    margin-top: 2rem;
}

.introimgbox:last-child{
    margin-right: 0;
}

.main-message-js{
    text-align: center;
    font-size: 1.5rem;
}

.intro-picture-js{
    display: none;
}

.explore{
    border-radius: 20px;
    padding: 0.5rem;
    display: block;
    margin: 3rem auto 1rem;
    font-size: 1.2rem;
}

.main-sns{
    display: none;
}

/* project - flowergarden */

.project-flower-box{
    display: flex;
    width: 972px;
}

.before-performance,
.after-performance{
    width: 476px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2rem;
    box-sizing: border-box;
}

.before-performance{
    margin-right: 20px;
    background-color: hsla(328, 100%, 54%, 0.471);
    border-radius: 20px;
}

.after-performance{
    background-color: rgba(148, 0, 211, 0.491);
    border-radius: 20px;
}

.before-performance:hover,
.after-performance:hover{
    filter: grayscale(0);
}

.project-flower-box-mobile{
    display: none;
}

.linkbox.web{
    display: block;
}

.killingmonster-logic{
    width: 100%;
    height: 300px;
    background-color: pink;
}

@media screen and (max-width: 768px){

    .intro-imgboxes{
        display: none;
    }

    .intro-picture-js{
        display: block;
    }

    .main-sns{
        display: flex;
    }

    .main-message-js{
        font-size: 1.5rem;
        margin-top: 2rem;
        text-align: start;
    }

    .project-flower-box{
        display: none;
    }

    .linkbox.web{
        display: none;
    }

    .project-flower-box-mobile{
        display: block;
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        
    }

    .project-flower-box-mobile>a{
        margin-right: 0.5em;
    }

    .link-web.mobile{
        padding: 0.5em;
        margin-bottom: 1em;
    }
}

