@charset 'utf-8';


.graphicbox-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.imgbox{
    margin: 0 1em 4em;
    box-sizing: border-box;
    cursor: pointer;
}

.graphictext{
    text-align: center;
}

.graphic-monsquad{
    width: 430px;
}

.graphic-cow{
    width: 400px;
}

.graphic-daldaguri{
    width: 420px;
}

.graphic-beer{
    width: 360px;
}

.graphic-thumnail{
    width: 800px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.bgoverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

.modalbox {
    position: absolute;
    background-color: #fff;
    /* width: 800px;
    height: 600px; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}

.modalbox .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.2s ease-in-out; 
}
.closebtn .material-icons{
    font-size: 1.2rem;
   
}
.closebtn:hover{
    transform: scale(1.1);
    font-weight: bold;
}

.swiper {
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

.swiper .slide-img{
    width: 100%;
    height: 100%;
}

.swiper .slide-img img{ 
    max-width: 100%;
    height: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after
{
    content: none !important;
}

.swiper-button-next .material-icons,
.swiper-button-prev .material-icons{
    color: black;
    font-size: 0.8rem;
    transition: 0.2s ease-in-out;
}

.swiper-button-next:hover .material-icons,
.swiper-button-prev:hover .material-icons{
    transform: scale(1.1);
}

.guidetitle{
    margin-top: 20px;
}

.weblink{
   padding: 10px;
   box-sizing: border-box;
   margin-top: 10px;
   cursor: pointer;
   background-color: var(--accent-color);
   border-radius: 10px;
}

.hidden{
    display: none;
}

.stop-scroll{
    overflow-y: hidden;
}

footer{
    margin-top: 0;
}

@media screen and (max-width: 768px){
    .modalbox {
        width: 100%;
        height: 100%;
    }

    .swiper {
        width: 100%;
        height: 260px;
    }

    .swiper .slide-img img{ 
        max-width: 100%;
        height: 100%;
    }

    .modalbox .closebtn {
        position: absolute;
        top: 5px;
        right: 5px;
        transition: 0.2s ease-in-out; 
    }

    .closebtn .material-icons{
        font-size: 2rem;
       
    }
    .closebtn:hover{
        transform: scale(1.1);
        font-weight: bold;
    }
}