@charset 'utf-8';


/* section - project airmug */
.monsquad-main{
    display: none;
}

.project-photo-box{
    display: flex;
}

.project-photo.monsquad {
    width: 414px;
    height: 600px;
    border: 3px solid black;
    margin-left: 10px;
    box-sizing: border-box;
}

.project-photo.monsquad-moodboard{
    width: 600px;
    height: 100%;
}

.project-photo.monsquad-moodboard>p{
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: block;
    background-color: black;
    padding-left: 4em;
}

.project-photo.airmug{
    width: 600px;
    height: 100%;
    /* margin-right: 10px; */
    box-sizing: border-box;
}

.project-photo.airmugpro-mobile{
    width: 414px;
    height: 600px;
    border: 3px solid black;
    margin-left: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){

    .monsquad-main{
        display: block;
        margin-top: 1.5em;
    }

    .project-photo.monsquad {
        display: none;
    }

    .project-photo.airmugpro-mobile {
        display: none;
    }
}
