@charset 'utf-8';

.project-photo-box{
    display: flex;
}

.project-photo.airmug{
    width: 600px;
    height: 100%;
    box-sizing: border-box;
}

.project-photo.airmugpro-mobile{
    width: 414px;
    height: 600px;
    border: 3px solid black;
    margin-left: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){

    .project-photo.airmugpro-mobile {
        display: none;
    }
}
